body {
    background-color: rgb(75, 75, 204);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.664);
    text-align: center;
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer {
    padding-top: 30px;
    text-align: center;
    font-style: italic;
}

.number {
    width: 70px;
}

.tabuada {
    width: 200px;
    height: 190px;
    text-align: center;
}